.header{
  display: flex;
  height: 70px;
  background-color: white;
  margin-bottom: 10px;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 100;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
}

.left-section{
  width: 260px;
  margin-left: 30px;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.logo-header{
  width: 45px;
  margin-right: 10px;
}

.header-textbox{
  padding-left: 10px;
  padding-right: 10px;
  width: 190px;
  height: 38px;
  border: none;
  background-color: rgb(243, 238, 238);
  border-radius: 20px;
}

.middle-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  max-width: 500px;
  margin-right: 20px;
}

.home, .friends, .video-play, .community{
  cursor: pointer;
}

.home{
  height: 35px; 
  margin-right: 30px;
}

.friends{
  height: 35px;
  margin-right: 30px;
}

.video-play{
  height: 35px;
  margin-right: 30px;
}

.community{
  height: 35px;
}

.right-section{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
}

.header-profile{
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.notifications-button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgb(223, 223, 223);
  margin-right: 15px;
  cursor: pointer;
}

.dot-button{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgb(223, 223, 223);
  cursor: pointer;
}

.dots{
  width: 20px;
}